node_modules
.git
.gitignore
*.md
!README.md

# Dev / IDE
.vscode
.idea

# Graphify
graphify-out

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Build artifacts
.next
out

# Debug
npm-debug.log*
